<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset=utf-8 http-equiv="Content-Language" content="en"/>
 <!-- libjsongit2:meta-description -->
 <link rel="shortcut icon" href="/git/_gitohashi/favicon.ico" type="image/x-icon">
 <script src="/git/_gitohashi/jg2.js"></script>
 <link rel="stylesheet" type="text/css" href="/git/_gitohashi/logo.css"/>
 <link rel="stylesheet" type="text/css" href="/git/_gitohashi/jg2.css"/>
 <link rel="stylesheet" type="text/css" href="/git/_gitohashi/github.css"/>
 <!-- you would move the below to be served from the specific vhost
      that this html is the template for, since it is the place you put
      CSS that is NOT shared -->
 <link rel="stylesheet" type="text/css" href="/git/_gitohashi/gitohashi-custom.css"/>
 <script type='text/javascript' src='/git/_gitohashi/highlight.pack.js'></script>
 <script type='text/javascript' src='/git/_gitohashi/showdown.min.js'></script>
 <title>Gitohashi example html</title> 
</head>

<!-- Customize the header how you like -->
<div class="header-region">

<table><tr>
<td><a href="https://warmcat.com/git/gitohashi">
	<img class="gitohashi-logo">
    </a></td>
<td><img class='repo'></td>
	
    <td class='tight'><table>
     <tr><td colspan="5" class='bb'>
     <b>Gitohashi</b> is a modern, flexible and fast C gitweb-type interface
     </td></tr>

     <tr>
        <td><a href="/">
		<img class="home">Project homepage</a></td>
        <td><a href="/mailman/listinfo/libwebsockets">
        	<img class="mailinglist">Mailing List</a></td>
        <td><a href="https://warmcat.com">
        	<img class='extlink'>Warmcat.com</a></td>
        <td><a href="/lws-api-doc-master/html/index.html">
        	<img class="apidocs">API Docs</a></td>
        <td><a href="https://github.com/warmcat/gitohashi">
        	<img class="extlink">Github Mirror</a></td><td></td>

     </tr>
        </table></td>
        </tr>
</table>

</div>

<!-- HTML results from json processing go here -->
<div id='result'>
	<noscript><span id="noscript" class="noscript"><img class="pej" alt="Please Enable Javascript"></span></noscript>
</div>

<!-- Customize the footer how you like -->

<div class="jg2-footer footer-region">
<table><tr><td><a href="https://warmcat.com/git/gitohashi">
  	<span><img class="gitohashi-icon"></span></a>
  </td><td><div class="gitohashi-stats" id="gitohashi-stats"></div></td></tr>
</table></div>

<!-- libjsongit2 adds generated JSON inside this div, replacing the comment -->
<div id='initial-json' class="hidden-tiger">
<!-- libjsongit2:initial-json -->
</div>
</body></html>
